.explain{
    width:100%;
    height: calc(100% - var(--size-header));    
    display:flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    background: #437299;
}
.explain .box{    
    display:flex;    
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}
.explain .box .sub-box{
    background:#fff;
    width: 200px;
    height: 300px;    
    border-style:ridge;    
    border-radius: 8px;
    margin: 10px 30px;        
}

@media screen and (max-width: 530px){
    .explain{
        height: 1400px;
    }
}
.explain .box .sub-box span{
    text-align:center;
    display:block;
    font-size:20px;
    border-bottom:1px solid black;
    font-weight: bold;
    padding: 5px 2px;
}
.explain .box .sub-box img{
    width: 100px;
    margin:10px 50px;
}
.explain .box .sub-box .content{
    width:180px;
    margin: 5px 10px;
}

