
body{
    margin:0;
}

.intro{
    margin-top:var(--size-height-action-bar); 
    display: flex;   
    flex-direction: column;
    align-items: center;
}

.intro_main{    
    width:calc(100% - 5em);
    height:calc(100% - 5em);
    padding:0;
}
.tra{
    float:left;
    text-align: center;
    width:45%;        
    margin: 2% 3%;    
    padding:0px;
}
.tra .title{        
    color:blue;
    font-size:1.35em;
    font-weight: bold;
}

.tra img[class="tra_01"]{        
    display: block;
    position: relative;
    width:43.6%;    
    left:27.8%;
}
.tra img[class="tra_02"]{    
    display: block;
    position: relative;
    width:72.6%;
    left:13.3%;
}
.tra img[class="tra_03"]{
    width:99.1%;
    display: block;
    position: relative;
    left:0.3%;
}

.intro_main .content{ 
    display: inline-block;    
    float:right;
    width:45%;
    font-size: 1.2em;
}
.intro_main .content span[class="head"]{    
    font-size: 1.5em;
}
.intro_main .content .explain{    
    display: block;
    margin-left:2em;
}
.intro_main > .explain span{
    font-size: 2em;
}
.intro_main > .explain{
    font-size: 1.3em;
    display: block;
}

.intro_main > .maker_title{
    font-weight: bold;
}

.intro_main > .maker{    
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.intro_main > .maker .member{
    width:255px;
    height: 80px;
    background: rgb(200, 200, 200);
    padding:10px;
    border-style:ridge;
    margin:5px;
}

.intro_main > .maker .member .name{
    font-weight: bold;
}
.intro_main > .maker .member .number{

}
.intro_main > .maker .member .number::after{
    content: "학번"
}
.intro_main > .maker .member .work{
    font-size:14px;
    margin-left:10px;
    margin-top:10px;
}

footer[class="intro"]{    
    clear:both;    
    width:100%;       
    color:#8e8e8e;
    border-top:1px solid black;
    background-color:#6bcaaad8;
    text-align: center;
    font-size:1em;
    padding:1em 0;
}

@media screen and (max-width: 980px){
    .intro_main .tra{
        float:none;
        width:100%;
    }
    .intro_main .content{
        float:none;
        display: inline;
        width:100%;
    }
    .intro{
        height: auto;
    }    
}


@media screen and (max-width: 736px) {
    #header .login{
        visibility: hidden;
    }    
    .intro_main .content{ 
        font-size: 1.1em;
    }
    .intro_main .content span[class="head"]{    
        font-size: 1.4em;
    }
    .intro_main > .explain span{
        font-size: 1.5em;
    }
    .intro_main > .explain{
        font-size: 1.2em;
    }
    
}

.post .post-item .post-item-content{
    width:100% !important;
}

.main .post .post-item{
    flex-flow: initial !important;
}

@media screen and (max-width: 975px){
    .main .post .post-item {
        flex-flow: initial !important;
        height:100vh !important;
    }
    .main .post{
        display : initial !important;
        height:100vh !important;
    }
    .main .post .post-item img{
        width:200px !important;
    }
}