:root{
    --color-background-mypage:#437299;
}

body{
    background:var(--color-background-mypage);
    display:flex;
    justify-content: center;        
}

.mypage{
    display:flex;
    margin-top:calc(var(--size-header) + 50px);
    width:1100px;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.mypage .column{
    display:flex;
    flex-direction: column;
}
.mypage .column .box{
    margin:0 20px;   
    margin-bottom:25px;  
    width: 400px;
    height: 250px;
    padding:25px;
    border:2px solid rgba(0,0,0,0.3);
    background:#fff;
    font-size:17px;
}
.mypage .column .box .title{
    font-size:20px;
    font-weight: bold;
}
.mypage .column .box .item{            
    margin-left:10px;
    font-weight: bold;
}
.mypage .column .box .device{
    margin: 5px 10px;
    width: 380px;
    max-height: 80px;
    overflow: auto;
    padding-left:10px;
    font-size:15px;
}
.mypage .column .box .item::after{
    content : " : "
}
.mypage .column .box .device legend{
    font-size:16px;
    margin-left:5px;
}
.mypage .column #machine{
    
}
.mypage .column #setting{
    
}
