:root{
    --duration-animation: 0.2s;
    --font-size-control: 16px;
}

.running {
    width:100%;    
    font-size:var(--font-size-control);
    display:flex;
    margin-top:5em;
    justify-content: space-evenly;
}
.running .list{
    display:block;    
    width:30em;    
    min-height: 130px;
    max-height: 300px;
}
.running .list div.select, li.select, div.reload{            
    background-color: inherit;  
    display:grid;
    align-items:baseline;
    grid-template-columns: repeat(3, 1fr);      
    font-size:1.3em;
    padding:0.2em;
    border:2px outset #cfcfcf;
    cursor:pointer;
    z-index: 3;
}
.running .list .select-name{    
    color:#fff;
    grid-column:2;
    font-weight: bold;
    justify-self: center;    
}
.running .list .select-arrow, .select-reload{  
    font-size:0.9em;    
    color:white;
    grid-column:3;
    justify-self:right;
    margin-right:0.3em;
    -moz-transform:rotate(0);
    -ms-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);

    -moz-transition: -moz-transform calc(var(--duration-animation)/2) linear;
    -ms-transition: -ms-transform calc(var(--duration-animation)/2) linear;
    -o-transition: -o-transform calc(var(--duration-animation)/2) linear;
    transition: transform calc(var(--duration-animation)/2) linear;
}
.running .list .select .select-arrow.turn{
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.running .list #list_root{
    background:#26c6da;
}
.running .list #list_space{
    background:#4db6ac;
}
.running .list #bylist_space{
    background: #81c784;
}
.running .list .invisible{
    display:none !important;    
}
.running .list .invisible.visible{
    display:block !important;
    animation: openlist calc(2 *var(--duration-animation)) forwards;    
}
@keyframes openlist{
    0%{        
        max-height: 0em;        
    }    
    50%{                
        max-height: 15em;     
    }
    100%{
        max-height: 15em;             
    }    
}
.running .list ul:not(#bylist_space){
    padding:0px;
    margin:0px;
    list-style: none;
    display:flex;    
    flex-wrap:wrap;    
    background:#e0e0e0;
    overflow: auto;
    overflow-x:hidden;
}
.running .list ul li:not(.select){
    display:inline-block;
    width:8em;
    margin-left:0.5em;
    margin-top:0.5em;
    height:10em;  
    text-align: center;
    font-size:1.1em;
    animation: opensublist calc(3 * var(--duration-animation)) ;    
}
@keyframes opensublist{
    0%{
       opacity: 0; 
    }    
    50%{        
       opacity: 0; 
    }
    100%{
        opacity: 1;
    }
}
.running .list ul li:not(.select):hover{
    background-color: rgba(255,255,255,0.8);
    border-radius: 1em;
}
.running .list ul li img{    
    margin: 0.5em 0.5em 0 0.5em ;
    width:7em;
    height:8em;
    border-radius: 0.7em;
}

@media screen and (max-width:1200px){
    .running .list{         
        width:22em;                   
    }
}
@media screen and (max-width:1080px){
    .running .list{         
        width:18em;                   
    }      
    .running .list ul li:not(.select){
        display:inline-block;
        width:7em;
        margin-left:0.1em;
        margin-top:0.5em;
        height:9em;  
        text-align: center;
        font-size:1.1em;
        animation: opensublist calc(3 * var(--duration-animation)) ;    
    }      
    .running .list ul li img{    
        margin: 0.5em 0.5em 0 0.5em ;
        width:6em;
        height:7em;
        border-radius: 0.7em;
    }
}

i {color:#fff;}
.running .list-ui{    
    display:block;    
    width:40em;
    border:1px solid #cfcfcf;
    height:500px;
    margin-bottom:20px
}
.running .list-ui .ui-title{
    background:#4dd0e1;
    border:2px outset #cfcfcf;
    color:#fff;
    text-align:center;
    font-weight: bold;
    font-size:1.3em;
    padding:0.2em;
}
.running .list-ui .view{
    display:flex;   
    flex-direction:column;
    align-items:center;
}
.running .list-ui .view > fieldset{
    width: 85%;
    margin-top:15px;
    border:2px solid black;     
}  
.running .list-ui .view legend{
    margin-left: 5px;
    font-size: 17px;
    font-weight: bold;
}
.running .list-ui .view > fieldset .box{
    display:flex;
    justify-content: center;        
}
.running .list-ui .view .box fieldset{
    display:inline-block;
    width:30%;    
    margin:1%;
    text-align:center;
}
.running .list-ui .view .box fieldset span{    
    font-size:23px;
}
.running .list-ui .view #temperature span::after{
    content: "℃"
}
.running .list-ui .view #humidity span::after{
    content: "%"
}
.running .list-ui .view #season{
    align-self:flex-end;
    margin:10px;
}
@media screen and (max-width:1010px){ 
    .running {                
        flex-direction: column;
        margin-top:2em;
        justify-content: flex-start;        
        align-items:center;
    }      
    .running .list{
        width:40em;  
    }   
    .running .list ul li img{            
        display:none;
    } 
    .running .list ul li{  
        display:inline;        
        padding: 0 5px;              
        margin : 0px;                      
    }
    .running .list ul li:not(.select){  
        display:inline;        
        padding: 10px;         
        margin : 0px;                      
    }    
    .running .list #bylist_space{                      
        max-height:100px;        
        overflow: auto;
        overflow-x:hidden;
    }    
    .running .list-ui{
        margin-top: 15px;
        height: 450px;
    }
}
@media screen and (max-width:750px){     
    .running .list{
        width:35em;  
    }            
    .running .list-ui{
        width: 35em;        
    }           
}


