@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
#board {
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  min-height: 75vh;
}

#board .board_title {
  font-size: 1.5em;
  font-weight: bold;
}

#board .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#board .controls .write {
  background-color: cornflowerblue;
  border: 1px solid lightgray;
  padding: 3px 7px;
  margin: 0px 0.3em;
  font-weight: bold;
  cursor: pointer;
}

#board .controls .write a {
  text-decoration: none;
  color: #fff;
}

#board .controls #search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#board .controls #search input[type="submit"] {
  padding: 1px 5px;
  margin: 0 4px;
}

#board .controls #search input[type="text"] {
  padding: 3px;
  border: 1px solid gray;
}

#board .controls #search input[type="text"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

#board #pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2em;
}

#board #pages div {
  cursor: pointer;
  min-width: 1.1em;
  margin: 0px 2px;
  border: 1px solid lightgray;
  padding: 4px 7px;
  text-align: center;
}

#board #pages div.sel {
  background-color: #46bbff;
  color: #fff;
}

#board #pages div:not(.sel):hover {
  background-color: #f1f1f1;
}

#board #board_table {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 1em 0;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#board #board_table thead th {
  padding: 4px;
}

#board #board_table thead th:nth-child(1) {
  width: 3em;
}

#board #board_table thead th:nth-child(3) {
  width: 9em;
}

#board #board_table thead th:nth-child(4) {
  width: 8em;
}

#board #board_table tbody tr {
  border-top: 1px solid lightgray;
  background-color: transparent;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

#board #board_table tbody tr:hover {
  background-color: #f1f1f1;
}

#board #board_table tbody td {
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

#board #board_table tbody td:nth-child(2) {
  text-align: left;
}

#board #note {
  min-height: 70vh;
}

#board #controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 0.3em;
}

#board #controls div {
  border: 1px solid lightgray;
  padding: 5px 7px;
  margin: 0px 0.3em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#board #controls .submit {
  background-color: cornflowerblue;
}

#board #controls .cancel {
  background-color: lightpink;
}

#board #controls .cancel a {
  text-decoration: none;
  color: white;
}

#board .back {
  text-align: right;
}

#board .back a {
  text-decoration: none;
  color: lightcoral;
  font-size: 0.8em;
}

#board #boardHeader {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0.4em;
}

#board #boardHeader .title {
  font-size: 1.5em;
}

#board #boardHeader .detail {
  font-size: 0.9em;
}

#board #boardContent {
  border-bottom: 1px solid lightgray;
  min-height: 40vh;
}

#board #boardComment #inputComment {
  margin: 5px;
  border-radius: 10px;
  border: 1px solid silver;
  min-height: 4.8em;
  padding: 3px 8px;
}

#board #boardComment #inputComment textarea {
  font-family: 'Nanum Gothic';
  width: 100%;
  padding-top: 5px;
  border: none;
  resize: none;
}

#board #boardComment #inputComment textarea:focus {
  outline: none;
}

#board #boardComment #inputComment .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.9em;
  color: #b3b3b3;
  cursor: pointer;
}
/*# sourceMappingURL=board.css.map */