// #4aa8d8

$bgcolor_wrapper : rgb(35,182,200);
$bgcolor_board_sign : #4c86a3;
$bgcolor_content_panel : #fff;

$margin_content: 8em;

.subpage .wrapper{
    display:flex;
    margin: -1em 0 0 0;
    background-color:$bgcolor_wrapper;
    flex-flow:column;
    align-items: center;
    .content{                
        width:clamp(220px, calc(100% - #{$margin_content}), 1200px);             

        .sign {                       
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color:$bgcolor_board_sign;
            width:100%;            
            padding:0.5em;
            .title{
                color:#fff;            
                font-size:1.5em;
                font-weight: bold;            
            }
        }

        .inner{
            background-color:$bgcolor_content_panel;        
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;   
            width:100%;         
            height:min(75vh);
            padding:1em;           
        }    

        .g_container{
            display:grid;        
            grid-template-columns: repeat(auto-fill,minmax(200px, auto));
            grid-template-rows: repeat(auto-fill, minmax(120px, 150px));
            gap: 0.5em;

            .item{
                padding:10px;
                border:1px solid #000;
            }
        }
    }
}