/* values */
$bgcolor_nav: rgb(4,164,255);
$height_nav : 2em;

/* reset Elements */
*{
    margin:0px;
    padding:0px;
}

html, body{    
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}

::-webkit-scrollbar{
    width:0px;
}
@mixin line {
    border:1px dashed #000;
}

/* Container */
#container{       
    display:flex; 
    align-items: center;
    flex-direction: column;
    width:100%;                      
    /* Nav */
    #nav{
        @include line();        
        position:sticky;
        width:100%;        
        left:0px;
        top:0px;        
        background-color:$bgcolor_nav;               
        min-height: $height_nav; 
        line-height: $height_nav;       
        font-size:1.5em;
        display:flex;
        justify-content: space-between;  
        box-shadow: 0px 1px 3px rgb(0, 0, 0);

        .logo, .menu{
            color:#fff; 
            padding: 0 3em;
            cursor:pointer;
        }

        .logo{
            font-weight: bold;
        }
        .menu{
            
            ul{
                display:flex;
                list-style-type: none;
                font-size:1em;
                li{
                    padding: 0 1.5em;
                } 
            }   
            .cursor{

            }                    
        }
        .menuIcon{
            display:none;
        }
    }
    /* Wrapper */    
    #wrapper{
        border:1px solid #000;
        border-top:none;
        border-bottom: none;        
        width:clamp(500px, 75%, 1300px);                
        /* Banner */
        #banner{                   
            display:flex;
            justify-content: center;
            align-items:center;            
            width:100%;             
            height:600px;            
            background-color:$bgcolor_nav;                
            .banner_inner{
                @include line();
                display:flex;
                justify-content: space-between;                
                width:70%;
                height:70%;
                margin:15%;                                
                
                .movie{                    
                    height:100%;
                    width:50%;
                }
                .info{
                    height:100%;
                    width:50%;
                }
            }
        }  
        /* Menu */
        #menu{
            
            .itemWrapper{
                display:flex;
                flex-direction:column;
                align-items: center;
                .items{
                    display: flex;
                    .linkItem{
                        text-align: center;
                        margin:0.3em 1em;
                        border:1px solid #000;
                        width:5em;
                        padding:0.5em;
                    }
                }
            }
        }  
        /* Content */
        #content{
            @include line();
            min-height: 100%;
        }
        /* Footer */
        #footer{
            @include line();
            min-height: 10em;
        }
    }
}