$bgcolor_warning: rgb(255, 100, 100);

html, body{
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
}

.warning_wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow:column;
    width:100%;
    height: 100%;
    background-color:$bgcolor_warning;

    ::selection{
        background-color:white;
        color:$bgcolor_warning;
    }

    .title{      
        margin-top:-2em;  
        color:white;
        font-size: 4em;
        font-weight: bold;
    }
    .reason{
        font-size:2em;
        color:lightgray;
        padding:2em;
    }
    .home a{
        font-size:1.8em;
        color: lightgray;
        &:hover{
            color:white;
        }
    }
}
