/* import reset css */
@import url("./reset.css");
/* root variables - default */
:root{
    /* default color setting */
    --bgColor-default: rgba(255,255,255,1);
    --fontColor-default: rgba(0,0,0,1);
    --fontColor-drag: rgba(255,255,255);
    --bgColor-drag:rgba(255,0,0,0.8);
    /* header setting */
    --header-whole-min-height:3em;
    --header-bgColor:rgba(0,255,255,1);
    --header-fontColor:rgba(0,0,0,1);
    --header-items-margin-lr:1em;
    --header-items-margin-ud:0.5em;
    /* footer setting */
    --footer-whole-min-height:3em;
    --footer-bgColor:rgba(0,0,0,1);
    --footer-fontColor:rgba(255,255,255,1);
}
/* drag Color */
::-moz-selection{
    color:var(--fontColor-drag);
    background-color:var(--bgColor-drag);
}
::selection{
    color:var(--fontColor-drag);
    background-color:var(--bgColor-drag);
}

/* invisible */
.invisible{
    display:none;
}

html,body{
    width:100%;
    height:100%;
    overflow-x:hidden;
}

.backgroundWrapper{
    width:inherit;
    height: inherit;    
    background-color:var(--bgColor-default)
}

.contentWrapper{
    width:inherit;
    height: inherit;
}

/* header */
header.top{
    display:flex;
    position:-webkit-sticky;
    position:sticky;
    top:0px;
    left:0px;
    width:100%;    
    min-height: var(--header-whole-min-height);
    background-color:var(--header-bgColor);    
    justify-content: space-between;
    align-items: center;
    color:var(--header-fontColor);    
}

header.top > div{
    margin: var(--header-items-margin-ud) var(--header-items-margin-lr);
}

/* Logo */

header.top .logo{
    cursor:pointer;
}

header.top .logo .big{

}

header.top .logo .small{

}

/* Login Logout */

header.top .controller{
    cursor:pointer;
}

header.top .controller .login{

}

header.top .controller .logout{

}


/* middle */
div.middle{
    width:inherit;
    border:1px solid #000;    
}

div.middle .blankArea{
    width:inherit;
    min-height: var(--footer-whole-min-height);
    background-color:inherit;
}

/* footer */
footer.bottom{
    display:flex;
    position:absolute;
    bottom: 0px;
    left:0px;
    width:100%;
    color:var(--footer-fontColor);
    min-height: var(--footer-whole-min-height);
    align-items: center;
    justify-content: center;
    background-color:var(--footer-bgColor);
}